.headerContainer{
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    width:100vw;
    padding-left: 8px;
    padding-right: 8px;
    height:64px;
    border-style: solid;
    align-items: center;
    justify-content: space-between;

}

.show-menu{
    width: 376px;
    height: 500px;
    position: absolute;
    left: 0px;
    transition: 1s;
}

.hide-menu{
    width: 376px;
    height: 500px;
    position: absolute;
    left: -376px;
    transition: 1s;
}